* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #252525;
  height: 100vh;
  color: #fff;
  height: 100vh;
}

.pesquisa {
  padding-top: 20px;
}

.inputPesquisa {
  margin-top: 10px;
}

.inputLink {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border-color: tomato;
}

.inputLink:focus {
  outline: none;
}

.btnBaixar {
  padding: 12px;
  background-color: tomato;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}

.btnDownload {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
}

.btnDownload:hover {
  padding: 15px;
  transition: 0.6s ease-in-out;
}

.cardMusic {
  display: flex;
  flex-direction: column;
  border: 2px solid tomato;
  width: 80%;
  padding: 15px;
  margin: 30px auto;
  border-radius: 5px;
}

.cardMusic a {
  margin: 15px auto;
}
