.App {
  text-align: center;
}

.inputLink {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border-color: tomato;
}

.btnBaixar {
  padding: 12px;
  background-color: tomato;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}

.btnDownload {
  text-decoration: none;
  padding: 10px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
